body {
    background-image: url("images/college-students-600x400.jpg");
    background:linear-gradient(rgb(0,0,0,0.6),rgb(0,0,0,0.2)),url("images/college-students-600x400.jpg") 
    center/cover no-repeat;
    min-height: 100vh;
    font-family: Verdana;
    text-align: center;
}
.text{
    color:rgb(19, 204, 185);
    size: 70px;
}
form {
    background-color:rgb(13, 13, 32);
    max-width: 600px;
    margin: 50px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
    color:white;
}
.form-control {
    text-align: left;
    margin-bottom: 25px;
}
.form-control label {
    display: block;
    margin-bottom: 10px;
}
.form-control input,
.form-control select,.form-control textarea{
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 95%;
}
.form-control input[type="radio"],
.form-control input[type="checkbox"] {
    display: inline-block;
    width: auto;
}
button {
    background-color: #05c46b;
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    font-size: 21px;
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
    height: 60px;
}

            
